<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name></display-name>	
  
  <servlet>
  	<servlet-name>AdminServlet</servlet-name>
  	<servlet-class>servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DealShoppingServlet</servlet-name>
    <servlet-class>servlet.DealShoppingServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>

    <servlet-name>UserRegServlet</servlet-name>
    <servlet-class>servlet.UserRegServlet</servlet-class>
  </servlet>

	<servlet>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminProductChargeServlet</servlet-name>
    <servlet-class>servlet.AdminProductChargeServlet</servlet-class>
  </servlet>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductFilterServlet</servlet-name>
    <servlet-class>servlet.ProductFilterServlet</servlet-class>
  </servlet>



  	<servlet-mapping>
  	<servlet-name>AdminServlet</servlet-name>
  	<url-pattern>/servlet/AdminServlet</url-pattern>
  	 </servlet-mapping>
  <servlet-mapping>

    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/servlet/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegServlet</servlet-name>
    <url-pattern>/servlet/UserRegServlet</url-pattern>
     </servlet-mapping>
	<servlet-mapping>
    <servlet-name>DealShoppingServlet</servlet-name>
    <url-pattern>/servlet/DealShoppingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/servlet/CommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminProductChargeServlet</servlet-name>
    <url-pattern>/servlet/AdminProductChargeServlet</url-pattern>

  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductFilterServlet</servlet-name>
    <url-pattern>/servlet/ProductFilterServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
